<div class="container">
    
    <div class="row pl-4 pt-4 pb-1">
        <p class="bg-light col-md-2 mx-4 text-center">
        <strong>マイページ</strong>
        </p>
    </div>
    
    <div class="row pb-2 align-items-center">
        <strong class="col-md-1">登録情報</strong>
        <%= link_to "編集する", edit_customer_path(@customer.id), class:"btn btn-success btn-sm" %>
    </div>
    
    <div class="row">
        <div class="col-md-7">
            <table class="border">
                <tr>
                    <th class="border bg-light">氏名</th>
                    <td class="border"> <%= @customer.last_name %>　<%= @customer.first_name %></td>
                </tr>
                <tr>
                    <th class="border bg-light">カナ</th>
                    <td class="border"><%= @customer.last_name_kana %>　<%=@customer.first_name_kana %></td>
                </tr>
                <tr>
                    <th class="border bg-light">郵便番号</th>
                    <td class="border"><%= @customer.postal_code %></td>
                </tr>
                <tr>
                    <th class="border bg-light">住所</th>
                    <td class="border"><%= @customer.address %>　　　　　　　　</td>
                </tr>
                <tr>
                    <th class="border bg-light">電話番号</th>
                    <td class="border"><%= @customer.telephone_number %></td>
                </tr>
                <tr>
                    <th class="pr-3 border bg-light">メールアドレス</th>
                    <td class="border"><%= @customer.email %></td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="row py-3">
        <div class="col-md-4">
            <strong class="mr-3">配送先　</strong>
            <%= link_to "一覧を見る", addresses_path(@addresses), class:"btn btn-primary" %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong class="mr-3">注文履歴</strong>
            <%= link_to "一覧を見る", orders_path(@orders), class:"btn btn-primary" %>
        </div>
    </div>
    
    
</div>