<div class="container-fluid">
    <div class="row">
        <p class="col-md-1 bg-light text-center mt-3">商品一覧</p>
        <%= link_to new_admin_item_path do %>
        <i class="fa-duotone fa-circle-plus fa-2xs" style="--fa-primary-color: #c0c0c0; --fa-primary-opacity: 0.5; --fa-secondary-color: #ffffff;"> </i>
        <% end %>
    </div>
    
    <div class="row justify-content-center mx-0">
    <div class="col-md-12">
    <table>
        <thead>
            <tr>
                <th class="col-md-2">商品ID</th>
                <th class="col-md-3">商品名</th>
                <th class="col-md-2">税抜価格</th>
                <th class="col-md-3">ジャンル</th>
                <th class="col-md-2">ステータス</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% @items.each do |item| %>
                    <tr>
                        <td class="col-md-2"><%= item.id %></td>
                        <td class="col-md-3"><%= item.name %></td>
                        <td class="col-md-2"><%= item.price %></td>
                        <td class="col-md-3"><%= item.genre.name %></td><!--不明-->
                        <td class="col-md-2">
                            <% if item.is_active == true %>
                            <%= "販売中" %>
                            <% else %>
                            <%= "販売停止中" %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            
        </tbody>
        
    </table>
    </div>
    </div>
    
    
</div>