<div class="container">
    
    <div class="row py-4">
        <div class="col-md-2 bg-light text-center px-0">商品新規登録</div>
    </div>
    
    
    <%= form_with model: [:admin, @item], method: :post do |f| %>
        <div class="row mb-3">
            <div class="col-md-2">商品画像</div>
            <div class="col-md-4"><%= f.file_field :image, accept: "image/*" %></div>
        </div>
        
        <div class="row mb-3">
            <div class="col-md-2">商品名</div>
            <div class="col-md-4"><%= f.text_field :name, placeholder: "商品名" %></div>
        </div>
        
        <div class="row mb-3">
            <div class="col-md-2">商品説明</div>
            <div class="col-md-4"><%= f.text_area :introduction, placeholder: "ここに説明文を記述します", style:"height:100px", rows:"5" %></div>
        </div>
        
        <div class="row mb-3">
            <div class="col-md-2">ジャンル</div>
            <div class="col-md-4">
            <%= f.select :genre_id, @select_array, include_blank: "--選択してください--" %>
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-md-2">税抜価格</div>
            <div class="col-md-4"><%= f.number_field :price, placeholder: "1000", class:"no-spin" %>円</div>
        </div>
        
        <div class="row mb-3">
            <div class="col-md-2">販売ステータス</div>
            <div class="form-group col-md-4">
                <label>
                    <input type="radio" name="is_active" value="true">販売中
                    <input type="radio" name="is_active" value="false">販売停止中
                </label>
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-md-4"><%= f.submit '新規登録', class:"btn btn-success" %></div>
        </div>
    <% end %>

</div>