<div class="container mt-5">
  <h2>管理者ログイン</h2>
  
  <div class="row mt-3">
    <div class="col-12 col-lg-6">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row align-items-center form-group">
          <div class="col-4">
            <%= f.label :email, 'メールアドレス', class: 'mb-0' %>
          </div>
          <div class="col-8">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>
        </div>

        <div class="row align-items-center form-group">
          <div class="col-4">
            <%= f.label :password, 'パスワード', class: 'mb-0' %>
          </div>
          <div class="col-8">
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
          </div>
        </div>

        <div class="row align-items-center form-group">
          <div class="col-4"></div>
          <div class="col-8">
            <%= f.submit 'ログイン', class: 'btn btn-primary px-5' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>