<div class="container">
  <%= render 'layouts/errors', obj: @customer %>

  <h2><%= @customer.last_name + @customer.first_name %>の会員情報編集</h2>
  
  <div class="row">
    <div class="col-12">
      <%= form_with model: [:admin, @customer], method: :patch do |f| %>
        <div class="row form-group align-items-center">
          <div class="col-3"><%= f.label :id, '会員ID', class: 'mb-0' %></div>
          <div class="col-4"><%= @customer.id %></div>
          <div class="col-4"></div>
        </div>
        <div class="row form-group align-items-center">
          <div class="col-3"><%= f.label :last_name, '氏名', class: 'mb-0' %></div>
          <div class="col-4"><%= f.text_field :last_name, class: 'form-control' %></div>
          <div class="col-4"><%= f.text_field :first_name, class: 'form-control' %></div>
        </div>
        <div class="row form-group align-items-center">
          <div class="col-3"><%= f.label :last_name_kana, 'フリガナ', class: 'mb-0' %></div>
          <div class="col-4"><%= f.text_field :last_name_kana, class: 'form-control' %></div>
          <div class="col-4"><%= f.text_field :first_name_kana, class: 'form-control' %></div>
        </div>
        <div class="row form-group align-items-center">
          <div class="col-3"><%= f.label :postal_code, '郵便番号', class: 'mb-0' %></div>
          <div class="col-4"><%= f.number_field :postal_code, class: 'form-control' %></div>
          <div class="col-4"></div>
        </div>
        <div class="row form-group align-items-center">
          <div class="col-3"><%= f.label :address, '住所', class: 'mb-0' %></div>
          <div class="col-8"><%= f.text_field :address, class: 'form-control' %></div>
        </div>
        <div class="row form-group align-items-center">
          <div class="col-3"><%= f.label :telephone_number, '電話番号', class: 'mb-0' %></div>
          <div class="col-4"><%= f.number_field :telephone_number, class: 'form-control' %></div>
          <div class="col-4"></div>
        </div>
        <div class="row form-group align-items-center">
          <div class="col-3"><%= f.label :email, 'メールアドレス', class: 'mb-0' %></div>
          <div class="col-4"><%= f.email_field :email, class: 'form-control' %></div>
          <div class="col-4"></div>
        </div>
        <div class="row form-group align-items-center">
          <div class="col-3"><%= f.label :is_active, '会員ステータス', class: 'mb-0' %></div>
          <div class="col-4">
            <div class="form-check form-check-inline">
              <%= f.radio_button :is_active, true, class: 'form-check-input' %>
              <%= f.label :is_active_true, '有効', class: 'form-check-label' %>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :is_active, false, class: 'form-check-input' %>
              <%= f.label :is_active_false, '退会', class: 'form-check-label' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3"></div>
          <div class="col-4"><%= f.submit '変更を保存', class: 'btn btn-success btn-lg' %></div>
        </div>
      <% end %>
    </div>
  </div>

</div>