<div class="container mt-5">
<h3 class="mb-3 text-danger font-weight-bolder">注文履歴詳細</h3>

<div class="row mb-1">
  <h5 class="col-9">商品情報</h5>
  <h5 class="col-2">請求情報</h5>
</div>
<div class="row mb-2">
<table class="table col-8 border border-2">
  <tr><th bgcolor="#ffefd5">注文日</th><td><%= @order.created_at.strftime('%Y/%m/%d') %></td></tr>
  <tr><th bgcolor="#ffefd5">配送先</th><td>〒<%= @order.postal_code + " " + @order.address+ " " + @order.name %></td></tr>
  <tr><th bgcolor="#ffefd5">支払い方法</th><td><%= @order.payment_method_i18n %></td></tr>
  <tr><th bgcolor="#ffefd5">ステータス</th><td><%= @order.status_i18n %></td></tr>
</table>

<table class="table col-1"></table>

<table class="table col-2 mb-1 border border-2">
  <tr><th bgcolor="#ffefd5">商品合計</th><td><%= @order.total_payment.to_s(:delimited) %></td></tr>
  <tr><th bgcolor="#ffefd5">配送料</th><td><%= @order.shipping_cost %></td></tr>
  <tr><th bgcolor="#ffefd5">ご請求額</th><td><%= (@order.shipping_cost + @order.total_payment).to_s(:delimited) %></td></tr>
</table>

</div>

<h5 class="row col-2">注文内容</h5>
<table class="table col-9 border border-2">
  <tr bgcolor="#ffefd5">
    <th>商品</th>
    <th>単価（税込）</th>
    <th>個数</th>
    <th>小計</th>
  </tr>
  <% @order_details.each do |order_detail| %>
  <tr>
    <td><%= order_detail.item.name %></td>
    <td><%= order_detail.price.to_s(:delimited) %></td>
    <td><%= order_detail.amount %></td>
    <td><%= (order_detail.amount * order_detail.price).to_s(:delimited) %></td>
  </tr>
  <% end %>
</table>
</div>