<div class="container">
    <div class="row mt-5 mb-3">
        <div class="col-md-3">
            <!--ジャンル一覧表をrenderで追加予定-->
            <table>
                <thead>
                    <th>
                    ジャンル検索
                    </th>
                </thead>
                <tbody>
                <% @genres.each do |genre| %>
                <tr>
                <td>
                    <%= genre.name %>
                </td>
                </tr>
                <% end %>
                </tbody>
            </table>
        </div>
        
        <div class="col-md-8">
            <div>
                <h4>商品一覧 全<%= @items.count %>件</h4>
            </div>
            <div class="row row-cols-4">
                <% @items.each do |item| %>
                <div class="d-block">
                <%= image_tag item.image, size: "150x100" %>
                </br>
                <%= link_to item.name, public_item_path(item.id) %>
                </br>
                ¥<%= item.price %>
                </div>
                <% end %>
            </div>
            </div>
        </div>
        
        
    </div>
    
    
    
</div>