<div class="container">
    <div class="row mt-5 mb-3">
        <div class="col-md-3"><!--ジャンル一覧表をrenderで追加予定-->
            
        </div>
        
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-5">
                    <%= image_tag @item.image, size: "200x150" %>
                </div>
                <div class="col-md-7">
                    <div class="row justify-content-center">
                        <div>
                        <h5><strong><%= @item.name %></strong></h5>
                        <p><%= @item.introduction %></p>
                        </br>
                        </br>
                        <p><strong>¥<%= @item.item_price.round(0) %>(税込)</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7 d-flex justify-content-end">
                    <div class="form-group pr-5">
                        <%= form_with url: cart_items_path, method: :post do |f| %>
                        <%= f.select :amount, [["1個", "1"], ["2個", "2"], ["3個", "3"], ["4個", "4"], ["5個", "5"]], include_blank: "個数選択" %>
                        <%= f.submit 'カートに入れる', class:"btn btn-success"%>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>